/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require users
 */
 
@import "breve";
html, body {
	height:100%;
	min-height:100%;
}
.bg_effect {
	background-color:rgba(#272334, .9);
	position:absolute;
	height:100%;
	top:0;
	left:0;
	width:100%;
}
.container {
	display:block;
	height:100%;
	margin:0 auto;
	min-height:100%;
	position:relative;
	text-align:center;
	width:100%;
	max-width:1024px;
}
.fold {
	display:inline-block;
	background-size:100%;
	min-height:100%;
	width:100%;
}
.fold_uno {
	background:url("bg.jpg") center top no-repeat;
}
header {
	display:inline-block;
	width:100%;
	position:relative;
	div.menu {
		display:inline-block;
		margin:0 auto;
		position:absolute;
		left:0;
		.logo {
			display:inline-block;
			vertical-align:middle;
			margin-right:25px;
		}
		ul {
			display:inline-block;
			vertical-align:middle;
			padding:0;
			margin:0 auto;
			li {
				display:inline-block;
				margin-right:20px;
				padding:0;
				a {
					color:rgba(white, .8);
					font:lighter 14px "Tahoma", "Arial";
					text-decoration:none;
					@include transition(all, 100ms, linear);
					&:hover {
						color:white;
					}
				}
			}
		}
	}
	div.connect {
		display:inline-block;
		margin:0 auto;
		height:41px;
		position:absolute;
		top:0;
		right:0;
		ul {
			display:inline-block;
			vertical-align:middle;
			padding:0;
			margin:13px auto 0;
			li {
				display:inline-block;
				margin-left:20px;
				padding:0;
				a {
					color:rgba(white, .8);
					font:lighter 14px "Tahoma", "Arial";
					text-decoration:none;
					@include transition(all, 100ms, linear);
					&:hover {
						color:white;
					}
				}
			}
		}
	}
}
.introduction {
	text-align:left;
	margin-top:150px;
	article {
		display:inline-block;
		vertical-align:bottom;
		width:60%;
		h1 {
			color:white;
			font:normal 30px "Tahoma", "Arial";
		}
		p {
			color:rgba(white, .7);
			font:normal 16px "Tahoma", "Arial";
			span.light{
				color:white;
			}
		}
	}
	.button_container {
		position:absolute;
		right:0;
		text-align:right;
		margin:90px 0 0;
		width:30%;
		a {
			display:inline-block;
			color:white;
			background-color:#d31628;
			@include border-radius(3px);
			@include box-shadow(0 3px 0 darken(#d31628, 5%)); 
			padding:20px 30px;
			@include transition(all, 100ms, linear);
			text-decoration:none;
			text-transform:uppercase;
			font:bold 20px "Tahoma", "Arial";
			&:hover {
				background-color:darken(#d31628, 5%);
				@include box-shadow(0 3px 0 darken(#d31628, 10%)); 
			}
		}
	}
}
.fold_dos {
	background-color:#d31628;
	article {
		display:inline-block;
		vertical-align:middle;
		width:45%;
	}
	h1 {
		color:white;
		font:normal 30px "Tahoma", "Arial";
		margin:50px 0 80px;
	}
	ul {
		padding:0;
		margin:0 auto;
		list-style:none;
		li {
			margin:30px auto;
			h4 {
				color:#711;
				font:bold 25px "Tahoma", "Arial";
				margin:10px 0;
				text-transform:uppercase;
				@include text-shadow(0, 1px, 0, rgba(lighten(#711, 25%), .1));
			}
			p {
				font:bold 14px "Tahoma", "Arial";
				color:white;
			}
		}
	}
}
footer {
	background-color:darken(#272334, 5%);
	display:inline-block;
	width:100%;
	p {
		color:white;
		font:normal 12px "Tahoma", "Arial";
		margin:30px 0;
	}
}




