<div class="fold fold_uno">
	<div class="bg_effect"></div>
	<div class="container">
		<header>
			<div class="menu">
				<img src="assets/wtm_logo.png" alt="" class="logo">
				<ul>
					<li><a href="/">Usuarios</a></li>
					<li><a href="/">Cuentas</a></li>
				</ul>
			</div>
			<div class="connect">
				<ul>
					<li><a href="/">Conectarse</a></li>
					<li><a href="/">Registrarse</a></li>
				</ul>
			</div>
		</header>
		<section class="introduction">
			<article>
				<h1>Descubra sus datos.</h1>
				<p>Donec suscipit eu purus facilisis congue. Pellentesque a lectus quis sapien molestie malesuada sed non ex. Integer rhoncus laoreet sollicitudin. Ut vehicula consequat orci, <span class="light">vitae mollis eros</span> pharetra in. Morbi a metus non tellus commodo feugiat. Mauris in metus nulla. Duis turpis velit, tristique ac maximus non, fringilla sed lectus.</p>		
			</article>
			<article class="button_container">
				<a href="/users/new" class="button">Registrarse</a>
			</article>
		</section>
	</div>
</div>
<div class="fold fold_dos">
	<div class="container">
		<section>
			<h1>¿Cómo funciona?</h1>
			<article>
				<img src="assets/charts.png" alt="">
			</article>
			<article>
				<ul>
					<li><h4>Registrese</h4>
					<p>Mauris in metus nulla. Duis turpis velit, tristique ac maximus non, fringilla sed lectus.</p>
					</li>
					<li><h4>Gestione sus clientes</h4>
					<p>Mauris in metus nulla. Duis turpis velit, tristique ac maximus non, fringilla sed lectus.</p>
					</li>
					<li><h4>Mejore su negocio</h4>
					<p>Mauris in metus nulla. Duis turpis velit, tristique ac maximus non, fringilla sed lectus.</p>
					</li>
				</ul>
			</article>
		</section>
	</div>
</div>
<footer>
	<div class="container">
		<p>
			Copyright © 2015 World Tech Makers CRM. Todos los derechos reservados.
		</p>
	</div>
</footer>